
/* Breadcrups CSS */

.arrow-steps .step {
	font-size: 14px;
	text-align: center;
	color: #666;
	cursor: default;
	margin: 0 3px;
	padding: 13px 13px 13px 50px;
	min-width: 10%;
	float: left;
	position: relative;
	background-color: #b4cded;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  transition: background-color 0.2s ease;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
	content: " ";
	position: absolute;
	top: 0;
	right: -17px;
	width: 0;
	height: 0;
	border-top: 23px solid transparent;
	border-bottom: 23px solid transparent;
	border-left: 17px solid #b4cded;
	z-index: 2;
  transition: border-color 0.2s ease;
}

.arrow-steps .step:before {
	right: auto;
	left: 0;
	border-left: 17px solid #fff;
	z-index: 0;
}

.arrow-steps .step:first-child:before {
	border: none;
}

.arrow-steps .step:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.arrow-steps .step span {
	position: relative;
}

.arrow-steps .step span:before {
	opacity: 0;
	content: "✔";
	position: absolute;
	top: -2px;
	left: -20px;
}

.arrow-steps .step.done span:before {
	opacity: 1;
	-webkit-transition: opacity 0.3s ease 0.5s;
	-moz-transition: opacity 0.3s ease 0.5s;
	-ms-transition: opacity 0.3s ease 0.5s;
	transition: opacity 0.3s ease 0.5s;
}

.arrow-steps .step.current {
	color: #fff;
	background-color: #232B39;
}

.arrow-steps .step.current:after {
	border-left: 17px solid #232B39;
}






a {
  font-size: 14px;
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  padding: 14px 20px;
  cursor: pointer;
  text-align: center;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.prev {
  background-color: #f1f1f1;
  color: black;
  cursor: pointer;
  border-radius: 4px;
}


.next {
  background-color: #f1f1f1;
  color: black;
  cursor: pointer;
  border-radius: 4px;
}

